
*{
    margin: 0px;
    padding: 0px;
    font-family: Helvetica;
}

h2 {
    margin-bottom: 5px;
    margin-top: 0px;
    padding-top: 0px;
    font-size: 100%;
}

h3 {
    margin-bottom: 5px;
    margin-top: 10px;
    padding-top: 0px;
    font-size: 100%;
}

#al_login_dialog{
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    width: 100vw;
    height: 100vh;
    padding-top: 20%;
    padding-left: 30%;
}

#al_text_list_dialog{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    width: 100vw;
    height: 100vh;
    padding-top: 10%;
    padding-left: 10%;
}

.text_load_button{
    width: 80vw;
    display: block;
    color: #333;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    background: #ddd;
    border: 1px solid #333;
    border-radius: 10px;
}

#al_useremail{
    width: 40%;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#al_userpassword{
    width: 40%;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    margin-bottom: 25px;
}

#al_login_message{
    margin-top: 30px;
    padding-left: 10px;
    color: #600;
}

#al_navbar{
    background: #800;
    height: 50px;
    width:100%;
}

#al_title{
    padding-top: 5px;
    margin-left: 20px;
    font-size: 30px;
    color: #ddd;
    float: left;
}

.al_button{
    border: 1px solid #600;
    border-radius: 10px;
    color: #ddd;
    background: #600;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
}

.al_button_2{
    border: 1px solid #600;
    border-radius: 10px;
    color: #ddd;
    background: #444;
    padding: 10px 10px 10px 10px;
    text-decoration: none;    
}

#al_open_file{
    float: right;
    margin-right: 20px;
    margin-top: 4px;
}

#al_logout{
    float: right;
    margin-right: 20px;
    margin-top: 4px;
}

#al_text_panel{
    background: #fff;
    height: calc(100vh - 50px);
    width: 60%;
    padding: 20px 20px 20px 20px;
}

#al_l_graph_panel{
    background: #fff;
    height: calc(100vh - 50px);
    width: 60%;
    padding: 20px 20px 20px 20px;
    display: none;
}

#al_text_panel p{
    margin-top: 10px;
}

.al_reference{
    padding: 20px 20px 10px 20px;
    font-style: italic;
}

.al_text{
    padding: 10px 20px 10px 20px;
    color: #333;
    text-align: justify;
}

#al_annotation_panel{
    position: fixed;
    top: 50px;
    right: 0px;
    background: #fff;
    width: 33%;
    height: 200px;
    padding: 10px 20px 20px 20px;
}

#al_relation_panel{
    position: fixed;
    top: 50px;
    right: 0px;
    background: #fff;
    width: 33%;
    height: 200px;
    padding: 10px 20px 20px 20px;
    display: none;
}

#al_switch_view{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#al_highlights{
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
}

#al_type_buttons{
    margin-top: 10px;
}

#al_ref_buttons{
    margin-bottom: 10px;
}

#al_an_title{
    width: 100%;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#al_reference{
    width: 100%;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    display: none;
}

.al_an_topic{
    width: 100%;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    margin-bottom: 5px;
}

#al_graph_panel{
    height: 200px;
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 10px;
    margin-top: 10px;
}

#al_delete_button{
    float: right;
    display: none;
}

#al_rel_origin{
    width: 100%;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    margin-bottom: 15px;
}

#al_rel_target{
    width: 100%;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    margin-bottom: 25px;
}

#al_relation{
    width: 100%;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    margin-bottom: 15px;
    background: #fff;
}

#al_rel_ok{
    float: right;
}

#al_existing_rel{
    margin-top: 50px;
}
